# Use this file to share non-sensitive information about .env.* (e.g. variable names)
NEXT_PUBLIC_CMS_DATOCMS_API_TOKEN=
NEXT_PUBLIC_PROJECT_ID=
REVALIDATE_SECRET_TOKEN=
ETHERSCAN_API_KEY=
BASESCAN_API_KEY=